
body{
  overflow-x: hidden;
}

#logo{
  width:100;
  height:auto;
}

#mynavbar{
  font-size: 16px;
  margin:0;
  padding: 5px 5px;
  overflow-x: hidden;
}

#navbar{
  border-radius: 0;
  font-family: 'Mallanna', sans-serif;
}

#navbtn{
  margin-top: 10px;
}

#UDbtn{
  margin-left:10px;
  color:#4C5C6A;
}



#box-search{
  margin-top:-20;
  padding:0;
}
#welcomeMessage{
  font-family: 'Questrial', sans-serif;
  color:#DEDFDF;
  font-size: 70px;
}
.thumbnail {
    position: relative;
    top:0;
    width: auto%;
}

.caption {
    position:absolute ;
    top: 40%;
    left: 0;
    width: 100%;
}

#caption-desktop {
  display: inline;
}

#caption-mobile {
display: none;
}
@media only screen and (max-width: 680px) {
  .caption{
    position:absolute ;
    top: 10%;
    left: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 1100px) {
  #caption-desktop {
    display: none;
}

#caption-mobile {
  display: inline;
}
}

#hoverbtn:hover{
   border: 3px solid black; 
}

#hpheading{
  font-family: 'Mallanna', sans-serif;
  color:#DEDFDF;
  font-size: 30px;
}

#hpbutton{
  background-color: transparent;
  border-color:#DEDFDF;
  border-style: solid;
  color: #DEDFDF;
  font-family: 'Mallanna', sans-serif;
}
#hpbutton:hover{
  background-color: #DEDFDF;
  color: black;
}

#area{
  background-color:#DEDFDF;
  width:auto;
}

#headings{
  font-weight: bold;
  font-family: 'Mallanna', sans-serif;
  color:#4C5C6A;
}

#grey{
  font-family: 'Catamaran', sans-serif;
  color:#4C5C6A;
  font-size: 17px;
}

#title{
  font-weight: bold;
  font-family: 'Mallanna', sans-serif;
  color:#4C5C6A;
  font-size: 50px;
}
#content{
  color:#4C5C6A;
  font-size: 20px;
  font-family: 'Mallanna', sans-serif;
}

#pagetitle{
  font-family: 'Catamaran', sans-serif;
  color:#4C5C6A;
  font-weight: bold;
}

#signupbody{
  background-image: url("fitnesspic13.jpg");
}

#color{
  color:white;
}
#copyright{
  color:#CECECE;
}
#iconcolor{
  color:#CECECE;
}
#iconcolor:hover{
  color:#95A7B0;
}

#white{
  color:white;
}
#HELPFitlogo{
  width: 65px;
  height: 50px;
  float:center;
}

#fitnessPic1{
  border-radius: 25px;
  width: 480px;
  height: 500px;
}

#signup{
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom:10px;
  background: rgba(222,223,223, 0.8);
  align: center;
}

#memberbtn{
  background-color: transparent;
  color: #4C5C6A;
  border-style:solid;
  box-shadow: 0;
  height:30px;
  width:fill;
  border-radius: 10px;
  border-color: #4C5C6A;
}

#memberbtn:hover{
  background-color: #4C5C6A;
  color: #DEDFDF;
}

#trainerbtn{
  background-color: transparent;
  color: #4C5C6A;
  border-style:solid;
  box-shadow: 0;
  height:30px;
  width:fill;
  border-radius: 10px;
  border-color: #4C5C6A;
}
#trainerbtn:hover{
  background-color: #4C5C6A;
  color: #DEDFDF;
}

#or{
  color:#4C5C6A;
  font-size: 15px;
  font-family: 'Mallanna', sans-serif;
}

#dropdown {display: none}
#speciality{display:none}
#fullnameerror{display:none}
#emailerror {display: none}
#emailerror2 {display: none}
#usernameerror {display: none}
#passworderror {display: none}
#repeatpassworderror {display: none}
#specialityerror {display: none}
#uniqueerror{display: none}
.errormessage{
  color: red;
  text-align: left;
}

#signupbutton{
  border-radius: 0;
  box-shadow: 0;
  background-color: #4C5C6A;
  color: #DEDFDF;
  border-style:none;
  border-radius: 15px;
  font-family: 'Mallanna', sans-serif;
  }

#signupbutton:hover{
  background-color: #95A7B0;
  color:  #DEDFDF;
}



h4{
  color: black;
}
p{
  color:black;
}

footer{
   background-color: black;
   position:relative;
   bottom: 0;
   width:100%;
 }
 #footer{
   background-color: black;
   position:absolute;
   bottom: 0;
   width:100%;
 }

#black{
  color:black;
}

#blue{
  color: #95A7B0;
}

hr{
  border-color: #CECECE;
}

#trainingbg{
  background-image: url("fitnesspic4.jpg");
  background-size: cover;
}

#trainingrecordsbg{
  background-image: url("fitnesspic12.jpg");
  background-size:cover;
  height:85%;
}
#trainingrecords{
  background-color: rgba(222,223,223,0.8);
  height:80%;
}
#trainerrating{
  border-style: solid;
  border-color: #4C5C6A;
  font-family: 'Catamaran', sans-serif;
  color:#4C5C6A;
  font-size: 17px;
  width:190;
  padding:10;
  position: absolute;
   right: 0px;
}

#userdetailsbg{
  background-image: url("fitnesspic1.jpg");
  background-size:cover;
  height:auto;
}
#userdetails{
  background-color: rgba(222,223,223,0.8);
  height:auto;
  padding-bottom: 30px;
  font-family: 'Mallanna', sans-serif;
  font-size: 18px;
  color: #4C5C6A;
}

#repeatnewpassword{display: none}

#reviewTrainerbg{
  background-image: url("fitnesspic20.jpg");
  background-size:cover;
  height:auto;
}

#reviewTrainer{
    background-color: rgba(222,223,223,0.8);
}

#reviewTrainer2{
    background-color: rgba(222,223,223,0.8);
    height:auto;
    padding-bottom: 30px;
}

#trainer{
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color:#4C5C6A;
}
#review{
  height:auto;
  padding-top: 10px;
  width:60%;
  color:#DEDFDF;
  font-size: 16px;
  font-family: 'Mallanna', sans-serif;
}

#reviewpopup{display: none}
#reviewbtn{
  background-color: #4C5C6A;
  color: #DEDFDF;
  border-style:none;
}
#reviewbtn:hover{
  background-color:  #CECECE;
    color: #4C5C6A;
}
#reviewbtn:disabled{
  background-color:  #CECECE;
    color: #4C5C6A;
}

@media only screen and (max-width: 680px){
  .scrollbar{
    overflow-x: scroll;
  }
}

#updatetrainingbg{
  background-image: url("fitnesspic18.jpg");
  background-size:cover;
  height:auto;
}

#updatetraining{
  background-color: rgba(222,223,223,0.8);
}

.editpopup{
    padding: 20;
    background-color: rgba(222,223,223,0.9);
}

.btn-link{
  color:#4C5C6A;
}

#updatetitle{display: none}
#updatedate{display: none}
#updatetime{display: none}
#updatefee{display: none}
#updatestatus{display: none}
#updateclasstype{display: none}
#updatemax{display: none}
#updatenum{display: none}
#updatenotes{display:none}


#btn1{
  background-color: #4C5C6A;
  color: #DEDFDF;
  border-style:none;
}
#btn1:hover{
  background-color:  #CECECE;
    color: #4C5C6A;
}

#btn2{
  background-color:  #95A7B0;
  color: #DEDFDF;
  border-style:none;
  box-shadow: 0;
}
#btn2:hover{
  background-color:  #CECECE;
    color: #4C5C6A;
}

.scrollable{
  overflow-y:scroll;
  overflow-x: hidden;
   height:70%;
}

@media only screen and (max-width: 680px){
  .scrollable{
    overflow-y:scroll;
    overflow-x: scroll;
     height:70%;
  }
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
